/*  Fonts here
see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files */

@font-face {
	font-family:'CeraPro';
	src: url('~/assets/fonts/CeraPro-Thin.ttf') format('ttf'),
		 url('~/assets/fonts/CeraPro-Thin.woff') format('woff'),
		 url('~/assets/fonts/CeraPro-Thin.eot') format('eot');
	font-weight: 100;
	font-style: normal;
}


@font-face {
	font-family:'CeraPro';
	src: url('~/assets/fonts/CeraPro-Light.ttf') format('ttf'),
		 url('~/assets/fonts/CeraPro-Light.woff') format('woff'),
		 url('~/assets/fonts/CeraPro-Light.eot') format('eot');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family:'CeraPro';
	src: url('~/assets/fonts/CeraPro-Regular.ttf') format('ttf'),
		 url('~/assets/fonts/CeraPro-Regular.woff') format('woff'),
		 url('~/assets/fonts/CeraPro-Regular.eot') format('eot');
	font-weight: 400;
	font-style: normal;
}



@font-face {
	font-family:'CeraPro';
	src: url('~/assets/fonts/CeraPro-Medium.ttf') format('ttf'),
		 url('~/assets/fonts/CeraPro-Medium.woff') format('woff'),
		 url('~/assets/fonts/CeraPro-Medium.eot') format('eot');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family:'CeraPro';
	src: url('~/assets/fonts/CeraPro-Bold.ttf') format('ttf'),
		 url('~/assets/fonts/CeraPro-Bold.woff') format('woff'),
		 url('~/assets/fonts/CeraPro-Bold.eot') format('eot');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family:'CeraPro';
	src: url('~/assets/fonts/CeraPro-Black.ttf') format('ttf'),
		 url('~/assets/fonts/CeraPro-Black.woff') format('woff'),
		 url('~/assets/fonts/CeraPro-Black.eot') format('eot');
	font-weight: 900;
	font-style: normal;
}




