<template>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__content">
                        <div class="footer__left">
                            <p class="footer__text">© PR Hub, 2021</p>
                            <a href="mailto:info@prhub.bw.com.kz" class="footer__text">info@prhub.bw.com.kz</a>
                        </div>

                        <div class="footer__right">
                            <div class="footer__logo">
                                <a href="https://prdrive.kz/" target="_blank">
                                    <img src="~/assets/img/prdrive.svg" alt="" class="footer__logo-src">
                                </a>
                            </div>

                            <div class="footer__logo">
                                <a href="https://bw.com.kz/" target="_blank">
                                    <img src="~/assets/img/bwg.svg" alt="" class="footer__logo-src">
                                </a>
                            </div>

                            <div class="footer__logo">
                                <a href="https://tolqyn.com/" target="_blank">
                                    <img src="~/assets/img/tolqyn.svg" alt="" class="footer__logo-src">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name:'AppFooter'
    }
</script>

<style lang="scss" scoped>
    .footer{
        position: relative;

        padding:87px 0px 81px;

        &__content{
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:center;
        }

        &__left{
            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            align-items:center;
        }

        &__text:not(:last-child){
            margin-right: 92px;
        }

        &__right{
            display: grid;
            grid-template: auto / repeat(3, auto);
            gap: 0px 140px;
        }

        &__logo{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
    }

    @media (max-width: 768.98px) {
        .footer{

            &__content{
                display:flex;
                flex-direction:column;
                justify-content:flex-start;
                align-items:flex-start;
            }

            &__left{
                margin-bottom: 25px;
            }
           
        }
    }

    @media (max-width: 480.98px) {
        .footer{

            &__content{
                position: relative;
            }

            &__right{
                display:flex;
                flex-direction:row;
                justify-content:space-between;
                align-items:center;

                width: 100%;

                gap:unset;
            }

            &__logo{

                &-src{
                    max-height: 40px;
                }
            }
           
        }
    }
</style>