<template>
    <header class="header" id="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__logo">
                        <router-link :to="{path:'/'}">
                            <img class="header__logo-src" src="~/assets/img/logo.svg" />
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
    .header{
        position: relative;

        width: 100%;
        height: auto;

        padding:70.24px 0px;

        &__logo{

            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;

            &-src{
                height: 42.24px;
                width: auto;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 768.98px) {
        .header{
            padding:20.24px 0px;
        }
    }

    @media (max-width: 480.98px) {
        .header{
            padding:46.47px 0px;

            &__logo{

                &-src{
                    height: 40.83px;
                }
            }
        }
    }
</style>