<template>
    <div class="contform">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="contform__title">контакты</p>
                </div>

                <div class="col-4 col-xs-12">
                    <p class="contform__subtitle">Нам важно ваше мнение, пишите нам!</p>
                </div>

                <div class="col-4 col-xs-12">
                    <div class="contform__inputs">
                        <app-form placeholder="ФИО" />
                        <app-form placeholder="Тема" />
                        <app-form placeholder="E-mail" />
                        <app-form placeholder="Телефон" />
                    </div>
                </div>

                <div class="col-4 col-xs-12">
                    <div class="contform__inputs">
                        <app-form placeholder="Ваше сообщение" type="textarea"/>
                        <app-btn text="Отправить" color="accent"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import AppForm from '../ui/AppForm'
    import AppBtn from '../ui/AppBtn'

    export default {
        name:'ContactsBlock',
        components:{
            AppForm,
            AppBtn,
        }
    }
</script>

<style lang="scss" scoped>
    .contform{
        position: relative;

        width: 100%;
        height: auto;

        padding: 78.61px 0px 146.67px;

        background-color: #fff;

        &__title{
            font-size: 72px;
            line-height: 96px;
            font-weight: 300;

            color:#EA4D51;

            margin-bottom: 74.79px;

            text-transform: uppercase;
        }

        &__subtitle{
            font-size: 50px;
            line-height: 90px;
            color:#1B1B22;
            font-weight: 700;

            text-transform: uppercase;
        }

        &__inputs{
            display: grid;
            grid-template: auto / auto ;
            gap: 34.27px;
        }

    }

    @media (max-width: 1600.98px) {
        .contform{
            padding:58.61px 0px 66.67px;

            &__title{
                font-size: 52px;
                line-height: 76px;

                margin-bottom: 52px;
            }

            &__subtitle{
                font-size: 42px;
                line-height: 68px;
            }
           
        }
    }

    @media (max-width: 768.98px) {
        .contform{

            &__subtitle{
                font-size: 24px;
                line-height: 42px;
            }
           
        }
    }

    @media (max-width: 480.98px) {
        .contform{
            padding:49.52px 0px 59.02px;

            &__title{
                font-size: 48px;
                line-height: 96px;

                margin-bottom: 16.47px;
            }

            &__subtitle{
                font-size: 36px;
                line-height: 45px;
                margin-bottom: 50.78px;
            }

            &__inputs{
                margin-bottom: 34.27px;
            }
           
        }
    }
</style>