<template>
    <div class="mainmenu">

        <div class="mainmenu__item" :class="index==getMenuActiveIndex?'mainmenu__item_active':''" v-for="(item,index) in menu" :key="index">
            <a :href="item.link" class="mainmenu__item-text" v-html="item.title" @click="setIndex(index)"></a>
            <div class="mainmenu__item-line"></div>
        </div>


    </div>
</template>

<script>
    import {
        mapGetters,
        mapMutations,
    } from 'vuex'

    export default {
        name:'MainMenu',
        computed:{
            ...mapGetters([
                'getMenuActiveIndex',
            ])
        },
        data(){
            return {
                menu:[
                    {
                        title:'О проекте',
                        link:'#header',
                    },
                    {
                        title:'О нас',
                        link:'#about',
                    },
                    {
                        title:' Выпуски PR Hub',
                        link:'#posts',
                    },
                    {
                        title:'Публикации',
                        link:'#publications',
                    },
                    {
                        title:'Контакты',
                        link:'#contacts',
                    },
                ]
            }
        },
        methods:{
            ...mapMutations([
                'setMenuActive'
            ]),

            setIndex(index){
                this.setMenuActive({newIndex:index})
            }
        }
    }
</script>

<style lang="scss" scoped>
    .mainmenu{
        position: fixed;
        top: 482px;
        left: -258px;

        transform: rotate(-90deg);

        width: auto;
        height: auto;

        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:flex-start;

        z-index: 1;

        mix-blend-mode: difference;

        &__item{
            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            align-items:center;
           
           &-text{
               font-weight: 900;
                font-size: 14px;
                line-height: 18px;
                color:#959595;

                transition: all .4s ease-in;

                &:hover, &:focus{
                    color:#fff;
                    cursor: pointer;
                }
           }

           &-line{
               width:56px;
               height: 1px;
               background-color: #fff;

               margin:0px 16px;

           }

           &:last-child{
               .mainmenu__item-line{
                   display: none;
               }
           }

           &_active{
               .mainmenu__item-text{
                   color:#fff;
               }
           }
        }
    }

    @media (max-width: 1460.98px) {
        .mainmenu{
            top: 322px;
            left: -248px;

            &__item{

                &-line{
                    width: 25px;
                    margin:0px 12px;
                }
            }
        }
    }

    @media (max-width: 768.98px) {
        .mainmenu{
            display: none;
        }
    }
</style>