<template>
    <div class="personcard" :class="data.left?'personcard_left':''">
        
        <div class="personcard__info personcard__info_mobile" v-if="data.left">
            <div class="personcard__line"></div>
            <p class="personcard__name" v-html="data.name"></p>
        </div>

        <div class="personcard__image">
            <img :src="data.image" alt="" class="personcard__image-src">
        </div>

        <div class="personcard__info personcard__info_desktop">
            <div class="personcard__line" v-if="!data.left"></div>
            <p class="personcard__name" v-html="data.name"></p>
            <div class="personcard__line" v-if="data.left"></div>
        </div>

    </div>
</template>

<script>
    export default {
        name:'PersonCard',
        props:{
            data:{
                type:Object,
                required:false,
                default:()=>{}
            }
        }
    }
</script>

<style lang="scss" scoped>
    .personcard{
        position: relative;

        width: 100%;
        height: auto;

        &__image{
            position: relative;

            &-src{
                height: 400px;
                width: auto;
                object-fit: cover;
            }
        }

        &__info{
            position: absolute;
            top:0;
            right: -100%;

            max-width: 246px;

            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            align-items:center;

            &_mobile{
                display: none;
            }
        }

        &__line{
            width: 40px;
            height: 2px;
            background-color: #EA4D51;

            margin-right: 20px;
        }

        &__name{
            font-weight: 300;
            font-size: 40px;
            line-height: 50px;

            text-transform: uppercase;
        }

        &_left{
            .personcard__info{
                right: unset;
                top:unset;
                left:-100%;
                bottom: 0;
            }

            .personcard__line{
                margin-right: 0px;
                margin-left: 20px;
            }
        }

    }

    @media (max-width: 1600.98px) {
        .personcard{

            &__image{

                &-src{
                    height: 320px;
                }
            }

            &__info{
                max-width: 216px;
                right: -90%;
            }

            &__name{
                font-size: 32px;
                line-height: 42px;
            }

            &_left{
                .personcard__info{
                    left:-90%;
                }
            }
           
        }
    }

    @media (max-width: 768.98px) {
        .personcard{

            &__info{
                right: -75%;
            }

            &_left{
                .personcard__info{
                    left:-85%;
                }
            }
           
        }
    }

    @media (max-width: 480.98px) {
        .personcard{
            position: relative;

            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            align-items:flex-end;

            &__info{
                position: relative;
                right: unset;

                display:flex;
                flex-direction:column;
                justify-content:flex-start;
                align-items:flex-start;

                margin-bottom: 50px;
            }

            &__image{

                margin-right: 25px;

                &-src{
                    height: 250px;
                }
            }

            &__line{
                margin-bottom: 16px;
            }

            &__name{
                font-size: 24px;
                line-height: 30px;
                
                max-width: 80px;
            }

            &_left{

                .personcard__image{
                    margin-left: 20px;
                    margin-right: unset;
                }

                .personcard__name{
                    max-width: unset;

                    text-align: right;
                }

                .personcard__info{
                    left:unset;
                    top:unset;
                    bottom: unset;

                    display:flex;
                    flex-direction:column;
                    justify-content:flex-end;
                    align-items:flex-end;

                    &_desktop{
                        display: none;
                    }
                }
            }
           
        }
    }
</style>