<template>
    <a :href="data.link" target="_blank" >
        <div class="podcastcard">
            <img :src="data.img" alt="" class="podcastcard__icon">
            <p class="podcastcard__title" v-html="data.title"></p>
        </div>
    </a>
</template>

<script>
    export default {
        name:"PodcastCard",
        props:{
            data:{
                type:Object,
                required:false,
                default:()=>{}
            }
        }
    }
</script>

<style lang="scss" scoped>
    .podcastcard{
        position: relative;

        border: 2px solid #FFFFFF;
        border-radius: 20px;

        width: 100%;
        height: 100%;

        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;

        padding:25.24px 33px;

        &__icon{
            max-height: 50px;
            width: auto;
            object-fit: contain;

            margin-right: 69.02px;
        }

        &__title{
            font-weight: 500;
            font-size: 24px;
            text-transform: capitalize;
        }
    }

    @media (max-width: 1600.98px) {
        .podcastcard{
            padding:20.24px 33px;

            &__icon{
                max-height: 40px;
            }
        }
    }

    @media (max-width: 480.98px) {
        .podcastcard{
            padding:20.13px 26.32px;

            &__icon{
                max-height: 35px;
                max-width: 40px;

                margin-right: 55.05px;
            }
           
        }
    }
</style>