<template>
    <div>
        <a :href="data.route" target="_blank" v-if="data.outsideLink">
            <div class="postcard">

                <div class="postcard__image">
                    <img :src="data.image" alt="" class="postcard__image-src">
                </div>

                <div class="postcard__content">
                    <p class="postcard__date" v-html="data.date"></p>
                    <p class="postcard__description" v-html="data.text"></p>
                </div>

                <router-link v-if="data.link" class="postcard__link" to="data.link">Подробнее</router-link>

                <hr>

            </div>
        </a>

        <nuxt-link :to="{path:data.route}" v-else>
            <div class="postcard">

                <p class="postcard__number" v-if="data.number" v-html="data.number"></p>

                <div class="postcard__image">
                    <img :src="data.image" alt="" class="postcard__image-src">
                </div>

                <div class="postcard__content">
                    <p class="postcard__date" v-html="data.date"></p>
                    <p class="postcard__description" v-html="data.text"></p>
                </div>
                <hr>
            </div>
        </nuxt-link>
    </div>
</template>

<script>
    export default {
        name:'PostCard',
        props:{
            data:{
                type:Object,
                required:false,
                default:()=>{}
            }
        }
    }
</script>

<style lang="scss" scoped>
    .postcard{
        position: relative;

        width: 100%;
        height: 100%;

        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:flex-start;

        &__number{
            color: #959595;

            font-weight: 300;
            font-size: 64px;
            line-height: 80px;

            margin-bottom: 10px;
        }

        &__image{
            margin-bottom: 30px;

            &-src{
                height: 236px;
                width: auto;
                object-fit: cover;
            }
        }

        &__content{
            position: relative;

            min-height: 115px;

            margin-bottom: 25.55px;
        }

        &__date{
            font-size: 18px;
            line-height: 23px;
            color: #959595;
        }

        &__description{
            font-size: 24px;
            line-height: 30px;
        }

        &__link{
            font-size: 18px;
            line-height: 23px;
            font-weight: 900;
            color: #959595;

            text-transform: uppercase;

            margin-bottom: 40px;
        }

        hr{
            width: 100%;
            background-color: #fff;
        }
    }


    @media (max-width: 1600.98px) {
        .postcard{

            &__image{

                &-src{
                    height: 206px;
                }
            }
           
        }
    }

    @media (max-width: 768.98px) {
        .postcard{

            &__image{

                &-src{
                    height: 186px;
                    width: 100%;
                }
            }
           
        }
    }

    @media (max-width: 480.98px) {
        .postcard{

            &__description{
                font-size: 18px;
                line-height: 23px;
            }

            &__content{
                min-height: unset;
                margin-bottom: 20px;
            }

            &__link{
                font-size: 14px;
                margin-bottom: 31px;
            }
        }
    }
</style>