<template>
    <button class="btn" :class="btnClass" @click="clickHandler">
        {{text}}
    </button>
</template>

<script>
    export default {
        name:'AppBtn',
        props:{
            color:{
                type:String,
                required:false,
                default:'',
            },
            text:{
                type:String,
                required:false,
                default:'',
            }
        },
        computed:{
            btnClass(){
                let classes = []

                if(this.color){
                    classes.push('btn_' + this.color)
                }

                return classes
            }
        },
        methods:{
            clickHandler(){
                this.$emit('onclick')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .btn{
        position: relative;

        background-color: #DDDDDD;
        border-radius: 15px;

        width:100%;
        height: auto;

        padding:22px 22px;

        font-weight: 700;
        font-size: 24px;
        line-height: 30px;

        color:#919191;

        text-transform: uppercase;

        &_accent{
            background-color: #EA4D51;
            color:#fff;
        }
    }

    @media (max-width: 768.98px) {
        .btn{

            padding:14px;

            font-size: 18px;
            line-height: 24px;
           
        }
    }
</style>