<template>
    <div >
        <input class="form" type="text" v-if="type=='input'" :placeholder="placeholder">
        <textarea class="form form_textarea" v-else-if="type=='textarea'" :placeholder="placeholder"></textarea>
    </div>
</template>

<script>
    export default {
        name:'AppForm',
        props:{
            type:{
                type:String,
                required:false,
                default:'input'
            },
            placeholder:{
                type:String,
                required:false,
                default:'',
            }
        }
    }
</script>

<style lang="scss" scoped>
    .form{
        position: relative;

        width: 100%;
        height: auto;

        background: #DDDDDD;
        border-radius: 15px;

        padding:22px 22px;

        font-size: 24px;
        line-height: 30px;
        font-weight: 700;

        color:#919191;

        text-align: center;

        &_textarea{
            min-height: 287px;

            text-align: left;
        }
    }

    @media (max-width: 768.98px) {
        .form{
            padding:14px;

            font-size: 18px;
            line-height: 24px;

            &_textarea{
                min-height: 227px;
            }
           
        }
    }
</style>