.title{
    font-weight: 300;
    font-size: 72px;
    line-height: 96px;

    text-transform: uppercase;

    span{
        font-weight: 100;
        font-size: 72px;
        line-height: 96px;
        color:#EA4D51;

        text-transform: uppercase;
    }

    &_mb{
        margin-bottom: 62.72px;
    }
}

@include adaptive-1600{
    .title{
        font-size: 52px;
        line-height: 76px;

        span{
            font-size: 52px;
            line-height: 76px;
        }
    }
}


@include adaptive-768{
    .title{
        font-size: 42px;
        line-height: 48px;

        span{
            font-size: 42px;
            line-height: 48px;
        }
        
    }
}

@include adaptive-480{
    .title{
        font-size: 28px;
        line-height: 40px;
        font-weight: 100;

        span{
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }

        &_mb{
            margin-bottom: 35px;
        }

        &_xs{

            &_l{
                font-size: 48px;
                line-height: 60px;
            }
        }
        
    }
}