<template>
    <div class="postdetail">

        <div class="postdetail__back">
            <hr>
            <nuxt-link :to="{path:'/'}" class="postdetail__back-text">вернуться на главную</nuxt-link>
            <hr>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="postdetail__image">
                        <iframe 
                            class="postdetail__image-src"
                            :src=" 'https://www.youtube.com/embed/' + getPostDetail.VIDEO +'?rel=0' "
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-10 col-xs-12">
                    <div class="title" v-html="getPostDetail.QUOTE"></div>
                </div>

                <div class="col-7 col-start-6 col-sm-8 col-sm-start-5 col-xs-12 col-xs-start-1">
                    <p class="postdetail__descr" v-html="getPostDetail.DESCRIPTION"></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="title"><span>Биографическая справка</span></p>
                </div>
                <div class="col-10 col-start-3 col-sm-12 col-sm-start-1">
                    <div class="postdetail__bio">
                        <div class="postdetail__bio-row">
                            <p class="postdetail__bio-text" v-if="getPostDetail.GUEST_NAME">Имя</p>
                            <p class="postdetail__bio-text" v-html="getPostDetail.GUEST_NAME"></p>
                        </div>
                        <div class="postdetail__bio-row">
                            <p class="postdetail__bio-text" v-if="getPostDetail.GUEST_POSITION">Должность:</p>
                            <p class="postdetail__bio-text" v-html="getPostDetail.GUEST_POSITION"></p>
                        </div>
                        <div class="postdetail__bio-row">
                            <p class="postdetail__bio-text" v-if="getPostDetail.REFERENCE">Справка PR Hub:</p>
                            <p class="postdetail__bio-text" v-html="getPostDetail.REFERENCE"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" v-if="getPostDetail.DETAIL">
            <div class="row">
                <div class="col-12">
                    <p class="title"><span>Эфир Pr hub</span></p>
                </div>
                <div class="col-8 col-start-5 col-xs-12 col-xs-start-1">
                    <div class="postdetail__broadcast">
                        <p class="postdetail__text" v-html="getPostDetail.DETAIL"></p>
                    </div>
                </div>
            </div>
        </div>

         <div class="container" v-if="getPostDetail.LINKS.length>0">

            <div class="row">
                <div class="col-12">
                    <p class="title"><span>слушайте и подписывайтесь</span></p>
                </div>
                <div class="col-12">
                    <div class="postdetail__links">
                        <common-podcast-card v-for="(item,index) in getPostDetail.LINKS"  :key="index" :data="item"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="title"><span>Выпуски PR Hub</span></p>
                </div>
                <div class="col-12">
                    <div class="postdetail__posts">
                        <common-post-card v-for="(item,index) in getPostDetail.S_PROJECTS" :key="index" :data="item" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {
        mapGetters,
    } from 'vuex'


    export default {
        name:'PostDetail',
        async asyncData({route,store}){
            let {path } = route
            await store.dispatch('posts/fetchPostDetail',{route:path})
        },
        computed:{
            ...mapGetters('posts',[
                'getPostDetail',
                'getPosts',
            ]),

            ...mapGetters('podcasts',[
                'getPodcasts'
            ])
        },
         head() {
            return {
                title: this.getPostDetail.ELEMENT_META_TITLE,
                meta: [
                    {name:'application-name',content:this.getPostDetail.ELEMENT_META_TITLE},
                    {hid: 'description',name: 'description',content: this.getPostDetail.ELEMENT_META_DESCRIPTION},
            
                    {property:'og:title',content:this.getPostDetail.ELEMENT_META_TITLE},
                    {property:'og:description',content:this.getPostDetail.ELEMENT_META_DESCRIPTION},
                    {property:'og:image',content:this.getPostDetail.PREVIEW_PICTURE},
                    {property:'og:url',content:'https://prhub.bw.com.kz'},
                    {property:'og:site_name',content:this.getPostDetail.ELEMENT_META_TITLE},

                    {itemprop:'name',content:this.getPostDetail.ELEMENT_META_TITLE},
                    {itemprop:'description',content:this.getPostDetail.ELEMENT_META_DESCRIPTION},
                    {itemprop:'image',content:this.getPostDetail.PREVIEW_PICTURE},

                    {name:'twitter:card',content:'summary_large_image'},
                    {name:'twitter:title',content:this.getPostDetail.ELEMENT_META_TITLE},
                    {name:'twitter:description',content:this.getPostDetail.ELEMENT_META_DESCRIPTION},
                    {name:'twitter:image:src',content:this.getPostDetail.PREVIEW_PICTURE},
                    {name:'twitter:image:alt',content:this.getPostDetail.PREVIEW_PICTURE},

                    {name:"fragment", content:'!'}
                ],
            }
        }
    }
</script>

<style lang="scss" scoped>
    .postdetail{

        &__back{
            position: fixed;
            left: -120px;
            top: 358px;

            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            align-items:center;

            transform: rotate(-90deg);

            hr{
                content:'';
                
                width:56px;
                height: 1px;
                background-color: #fff;

                margin:0px 28px;
            }

            &-text{
                font-weight: 900;
                font-size: 14px;
                line-height: 18px;

                text-transform: uppercase;
            }
        }

        &__image{

            &-src{
                width: 100%;
                height: 742px;
                object-fit: cover;
            }

            margin-bottom: 114.85px;
        }

        &__descr{
            position: relative;
            margin: 105.85px 0px 135.49px;

            width: 100%;
            height: auto;

            font-size: 24px;
            line-height: 30px;
        }

        &__bio{
            position: relative;

            margin:74.59px 0px 136.41px;

            &-row{
                position: relative;

                display: grid;
                grid-template: auto / 20% 80% ;
                gap: 0px 30px;

                margin-bottom: 30px;
            }

            &-text{
                font-size: 24px;
                line-height: 30px;

                &:first-child{
                    text-align: right;
                }
            }
        }

        &__broadcast{
            position: relative;

            margin:74px 0px 137.41px;
        }

        &__text{
            font-size: 24px;
            line-height: 30px;
        }

        &__links{
            position: relative;

            margin: 102.71px 0px 174.92px;

            display: grid;
            grid-template: 1fr / repeat(3, 1fr) ;
            grid-gap: 50px 30px;
        }

        &__posts{
            margin:40.22px  0px 82.5px;

            display: grid;
            grid-template: auto / repeat(3, 1fr) ;
            gap: 55px 30px;
        }

    }


    @media (max-width: 1600.98px) {
        .postdetail{
           
           &__descr{
               margin:45.85px 0px 85.49px;
           }

           &__bio{
               margin:54.59px 0px 106.41px;
           }

           &__broadcast{
               margin:54px 0px 107.41px;
           }

           &__links{
               margin:72.71px 0px 124.92px ;
           }
        }
    }

    @media (max-width: 1460.98px) {
        .postdetail{

            &__image{

                &-src{
                    height: 552px;
                }
            }

            &__back{
                left: -140px;
                top: 288px;
            }
           
        }
    }

    @media (max-width: 768.98px) {
        .postdetail{

            &__back{
                display: none;
            }

            &__image{
                margin-bottom: 44.85px;

                &-src{
                    height:402px ;
                }
            }

            &__bio{
                margin:54.59px 0px 76.41px;

                &-row{
                    grid-template: auto / 20% 75%;
                }
            }

            &__broadcast{
                margin:34px 0px 87.41px;
            }

            &__links{
                grid-template: auto / repeat(2, 1fr);
            }

            &__posts{
                grid-template: auto / repeat(2, 1fr);
            }
           
        }
    }

    @media (max-width: 480.98px) {
        .postdetail{

            &__descr{
                font-size: 18px;
                line-height: 23px;
            }

            &__image{

                &-src{
                    height: 200px;
                }
            }

            &__bio{

                &-row{
                    display:flex;
                    flex-direction:column;
                    justify-content:flex-start;
                    align-items:flex-start;
                }

                &-text{
                    font-size: 18px;
                    line-height: 23px;
                }
            }

            &__text{
                font-size: 18px;
                line-height: 23px;
            }

            &__links{
                grid-template: auto / auto;
                gap:30px;
            }

            &__posts{
                grid-template: auto / auto;
            }
           
        }
    }
</style>