<template>
 <div class="mainpage">

        <layout-main-menu />
        
        <div class="container mainpage__main" id="home">
            <div class="row">
                <div class="col-10 col-xs-12">
                    <p class="title"><span>{{ getMainInfo.ABOUT_PROJECT[0] }}</span> <br>{{getMainInfo.ABOUT_PROJECT[1]}}</p>
                </div>
                <div class="col-5 col-start-8 col-sm-8 col-sm-start-5 col-xs-12 col-xs-start-1">
                    <p class="mainpage__subtitle">{{getMainInfo.ABOUT_PROJECT[2]}}</p>
                </div>
            </div>
        </div>

        <div class="container mainpage__about" id="about">
            <div class="row">
                <div class="col-4 col-sm-12">

                    <p class="title title_mb title_xs_l"><span>О нас</span></p>

                    <p class="mainpage__subtitle"> {{getMainInfo.ABOUT.TEXT}} </p>

                </div>

                <div class="col-3 col-sm-5 col-xs-12">
                    <div class="mainpage__person mainpage__person_top">
                        <common-person-card :data="{image:getMainInfo.ABOUT.ANCHOR[1],name:getMainInfo.ABOUT.ANCHOR[0],left:false}" />
                    </div>
                </div>

                <div class="col-3 col-start-10 col-sm-5 col-sm-start-8 col-xs-12 col-xs-start-1">
                    <div class="mainpage__person mainpage__person_bottom">
                        <common-person-card :data="{image:getMainInfo.ABOUT.ANCHOR[3],name:getMainInfo.ABOUT.ANCHOR[2],left:true}" />
                    </div>
                </div>
            </div>
        </div>

         <div class="container" id="partners">
            <div class="row">
                <div class="col-12">
                    <div class="mainpage__partners">
                        <a :href="getMainInfo.PARTNERS[0]" target="_blank">
                            <img :src="getMainInfo.PARTNERS[1]" alt="" class="mainpage__partners-item">
                        </a>
                        <a :href="getMainInfo.PARTNERS[2]" target="_blank">
                            <img :src="getMainInfo.PARTNERS[3]" alt="" class="mainpage__partners-item">
                        </a>
                        <a :href="getMainInfo.PARTNERS[4]" target="_blank">
                            <img :src="getMainInfo.PARTNERS[5]" alt="" class="mainpage__partners-item">
                        </a>
                    </div>
                </div>
            </div>
        </div>

       <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="title"><span>слушайте и подписывайтесь</span></p>
                </div>
                <div class="col-12">
                    <div class="mainpage__links">
                        <common-podcast-card v-for="(item,index) in getPodcasts"  :key="index" :data="item"/>
                    </div>
                </div>
            </div>
        </div>

         <div class="container" id="posts">
            <div class="row">
                <div class="col-12">
                    <p class="title title_xs_l"><span>Выпуски PR Hub</span></p>
                </div>
                <div class="col-12">
                    <div class="mainpage__posts">
                        <common-post-card v-for="(item,index) in getPosts" :key="index" :data="item" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="publications">
            <div class="row">
                <div class="col-12">
                    <p class="title title_xs_l"><span>Публикации</span></p>
                </div>
                <div class="col-12">
                    <div class="mainpage__publications">
                        <common-post-card v-for="(item,index) in getPublications" :key="index" :data="item" />
                    </div>
                </div>
            </div>
        </div>

        <layout-contacts-block id="contacts" />

    </div>
</template>

<script>
    import {
        mapMutations,
        mapGetters,
    } from 'vuex'

    import { gsap } from 'gsap'

    export default {
        async asyncData({route,store}){
            let {path } = route
            await store.dispatch('fetchMainInfo',{route:path})
        },
        computed:{
            ...mapGetters([
                'getMainInfo',
                'getPersons',
            ]),

            ...mapGetters('podcasts',[
                'getPodcasts',
            ]),

            ...mapGetters('posts',[
                'getPosts',
            ]),

            ...mapGetters('publications',[
                'getPublications',
            ]),
        },
        data(){
            return {
                controller:'',
            }
        },
        mounted(){
            if (process.browser && window){
                this.controller = new ScrollMagic.Controller()

                // animation for menu
                this.menuChangeHandler()

                // Animation for blocks
                this.setPartnersAnimation()
            }
        },
        beforeDestroy(){
            this.controller.destroy(true)
            this.controller = null
        },
        methods:{
            ...mapMutations([
                'setMenuActive'
            ]),

            menuChangeHandler(){
                ['#header','#about','#posts','#publications','#contacts',].forEach((id,index)=>{
                    new ScrollMagic.Scene({
                        triggerElement: id,
                        offset:index!=0?200:600,
                    })
                    .on('progress ',()=>{
                        this.setMenuActive({newIndex:index})
                    })
                    // .addIndicators({name: `main menu ${index}`})
                    .addTo(this.controller)

                })
            },

            setPartnersAnimation(){
                let tween = gsap.from(".mainpage__partners-item", .6, {
                    alpha:0,
                    yPercent:'+=100',
                    stagger:.4,
                }, .4)

                new ScrollMagic.Scene({
                    triggerElement: "#partners",
                    offset:-150,
                })
                .setTween(tween)
                // .addIndicators({name: "setPartnersAnimation"})
                .addTo(this.controller)
            }
        },
        head() {
            return {
                title: "Главная",
            }
        }
    }
</script>


<style lang="scss" scoped>
    .mainpage{

        &__main{
            margin:70px auto 107.33px;
        }

        &__subtitle{
            font-size: 24px;
            line-height: 30px;
        }

        &__about{
            margin-bottom: 143.49px;
        }

        &__person{

            &_top{
                padding-top: 69px;
            }

            &_bottom{
                margin-top: 219px;
            }
        }

        &__partners{
            position: relative;

            width: 100%;
            height: auto;

            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:center;

            margin-bottom: 177.28px;

            &-item{

            }
        }

        &__links{
            position: relative;

            margin: 102.71px 0px 174.92px;

            display: grid;
            grid-template: 1fr / repeat(3, 1fr) ;
            grid-gap: 50px 30px;
        }

        &__posts{
            margin:40.22px  0px 82.5px;

            display: grid;
            grid-template: auto / repeat(3, 1fr) ;
            gap: 55px 30px;
        }


        &__publications{
            margin:98.18px 0px 173.97px;

            display: grid;
            grid-template: auto / repeat(3, 1fr) ;
            gap: 30px ;
        }
    }


    @media (max-width: 1600.98px) {
        .mainpage{

           &__partners{
               margin-bottom: 127.28px;

               &-item{
                   max-height: 90px;
               }
           }

           &__links{
               margin:72.71px 0px 124.92px ;
           }
        }
    }

    @media (max-width: 768.98px) {
        .mainpage{
            &__main{
                margin:70px auto 67.33px;
            }

           &__subtitle{
               margin:25px 0px 0px;
           }

           &__partners{
               margin-bottom: 87px;

               &-item{
                   max-height: 60px;
                   max-width: 240px;
               }
           }

           &__links{
               margin:72.71px 0px 104.92px;

               grid-template: auto / repeat(2, 1fr);
           }

           &__posts{
               grid-template: auto / repeat(2, 1fr);
           }

           &__publications{
               margin:40.22px 0px 82.5px;

               grid-template: auto / repeat(2, 1fr);
           }
        }
    }

    @media (max-width: 480.98px) {
        .mainpage{

            &__main{
                margin:35px 0px 84.44px;
            }

            &__subtitle{
                font-size: 18px;
                line-height: 23px;
            }

            &__person{
                padding-top: 59px;

                &_bottom{
                    margin-top: unset;
                }
            }

            &__about{
                margin-bottom: 80px;
            }

            &__partners{
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;

                margin-bottom: unset;

                &-item{

                    margin-bottom: 85px;
                }
            }

            &__links{
                grid-template: auto / auto;
                gap:30px;
                margin:60.43px 0px 126px; 
            }

            &__posts{
                grid-template: auto / auto;
            }

            &__publications{
                grid-template: auto / auto;
                gap:50px;
            }
           
        }
    }
</style>
