*{
	font-family: $mainFont;
	color:$mainFontColor;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	line-height: $mainLineHeight;

    scroll-behavior: smooth;
}


#app{
	background-color: $dark-theme-color;

    transition: all .4s ease-in-out;

    img {
        aspect-ratio: attr(width) / attr(height);
    }
}


.notvisible{
	opacity: 0;
    z-index: -99;
    display: none;
}

.app--unscroll{
	overflow-y: hidden;
}

.app{

    &__titlewrap{
		width: 100%;
		height: auto;

		margin-bottom: 87px;

	}
	  
	&__titlewrap--flexspace{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}

	&__titlewrap--mbsm{
		margin-bottom: 47px;
	}

	&__title{
		font-size: rem(50px);
		font-weight: 700;
	}

	&__pretitlewrap{
		width: 100%;
		height: auto;

		margin-bottom: 52px;
	}

	&__pretitle{
		font-size: rem(20px);
		font-weight: 300;
		margin-bottom: 45px;
	}

	&__pretitle--bold{
		font-weight: 700;
	}
}


::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #0b0b0b; 
}

::-webkit-scrollbar-thumb {
	background: $primary-color; 
}

::-webkit-scrollbar-thumb:hover {
	background: $primary-color; 
}



@include adaptive-1600{
	.app{

		&__titlewrap{
			margin-bottom: 47px;
		}

		&__title{
			font-size: rem(35px);
		}

		&__pretitlewrap{
			margin-bottom: 25px;
		}

		&__pretitle{
			font-size: rem(16px);
			
			margin-bottom: 25px;
		}
		
	}
}


@include adaptive-480{
	.app{

		&__titlewrap{
			margin-bottom: 18px;
		}

		&__title{
			font-size: rem(28px);
		}
		
		
		&__pretitlewrap{
			margin-bottom: 16px;
		}

		&__pretitle{
			font-size: rem(14px);

			margin-bottom: 18px;
		}
		
	}
}


@include adaptive-xs{
	.app{

		&__title{
			font-size: rem(22px);
		}
		
	}
}